In [12]:
import pandas as pd

dataset = pd.read_csv(r"heart.csv")
print(dataset)

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0     63    1   3     145   233    1        0       150     0      2.3    0
1     37    1   2     130   250    0        1       187     0      3.5    0
2     41    0   1     130   204    0        0       172     0      1.4    2
3     56    1   1     120   236    0        1       178     0      0.8    2
4     57    0   0     120   354    0        1       163     1      0.6    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2    1
299   45    1   3     110   264    0        1       132     0      1.2    1
300   68    1   0     144   193    1        1       141     0      3.4    1
301   57    1   0     130   131    0        1       115     1      1.2    1
302   57    0   1     130   236    0        0       174     0      0.0    1

     caa  thall  output
0      0      1       1
1      0      2       1
2      0      2       1
3      0      2       1
4      0      2       1
..   ...    ...     ...
298    0      3       0
299    0      3       0
300    2      3       0
301    1      3       0
302    1      2       0

[303 rows x 14 columns]

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trtbps    303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalachh  303 non-null    int64
 8   exng      303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slp       303 non-null    int64
 11  caa       303 non-null    int64
 12  thall     303 non-null    int64
 13  output    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [14]:
bins = [0,20,40,60,100]
labels = ["0-20","20-40","40-60","60-100"]

dataset["age"] = pd.cut(dataset["age"],bins=bins, labels=labels, right=False)

print(dataset)

        age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  \
0    60-100    1   3     145   233    1        0       150     0      2.3
1     20-40    1   2     130   250    0        1       187     0      3.5
2     40-60    0   1     130   204    0        0       172     0      1.4
3     40-60    1   1     120   236    0        1       178     0      0.8
4     40-60    0   0     120   354    0        1       163     1      0.6
..      ...  ...  ..     ...   ...  ...      ...       ...   ...      ...
298   40-60    0   0     140   241    0        1       123     1      0.2
299   40-60    1   3     110   264    0        1       132     0      1.2
300  60-100    1   0     144   193    1        1       141     0      3.4
301   40-60    1   0     130   131    0        1       115     1      1.2
302   40-60    0   1     130   236    0        0       174     0      0.0

     slp  caa  thall  output
0      0    0      1       1
1      0    0      2       1
2      2    0      2       1
3      2    0      2       1
4      2    0      2       1
..   ...  ...    ...     ...
298    1    0      3       0
299    1    0      3       0
300    1    2      3       0
301    1    1      3       0
302    1    1      2       0

[303 rows x 14 columns]

In [15]:
#Veri Ön İşleme Süreçleri

import numpy as np
from sklearn.preprocessing import MinMaxScaler #Sadece pozitifler #StandardScaler: Negatiflerler de çalışılabilir
 
scaler = MinMaxScaler()
dataset[["trtbps","chol","thalachh"]] = scaler.fit_transform(dataset[["trtbps","chol","thalachh"]])

print(dataset)

        age  sex  cp    trtbps      chol  fbs  restecg  thalachh  exng  \
0    60-100    1   3  0.481132  0.244292    1        0  0.603053     0
1     20-40    1   2  0.339623  0.283105    0        1  0.885496     0
2     40-60    0   1  0.339623  0.178082    0        0  0.770992     0
3     40-60    1   1  0.245283  0.251142    0        1  0.816794     0
4     40-60    0   0  0.245283  0.520548    0        1  0.702290     1
..      ...  ...  ..       ...       ...  ...      ...       ...   ...
298   40-60    0   0  0.433962  0.262557    0        1  0.396947     1
299   40-60    1   3  0.150943  0.315068    0        1  0.465649     0
300  60-100    1   0  0.471698  0.152968    1        1  0.534351     0
301   40-60    1   0  0.339623  0.011416    0        1  0.335878     1
302   40-60    0   1  0.339623  0.251142    0        0  0.786260     0

     oldpeak  slp  caa  thall  output
0        2.3    0    0      1       1
1        3.5    0    0      2       1
2        1.4    2    0      2       1
3        0.8    2    0      2       1
4        0.6    2    0      2       1
..       ...  ...  ...    ...     ...
298      0.2    1    0      3       0
299      1.2    1    0      3       0
300      3.4    1    2      3       0
301      1.2    1    1      3       0
302      0.0    1    1      2       0

[303 rows x 14 columns]

In [16]:
from sklearn.preprocessing import LabelEncoder

le =LabelEncoder()

dataset["age"] = le.fit_transform(dataset["age"]) #label indexine göre numaralandır

print(dataset)

     age  sex  cp    trtbps      chol  fbs  restecg  thalachh  exng  oldpeak  \
0      2    1   3  0.481132  0.244292    1        0  0.603053     0      2.3
1      0    1   2  0.339623  0.283105    0        1  0.885496     0      3.5
2      1    0   1  0.339623  0.178082    0        0  0.770992     0      1.4
3      1    1   1  0.245283  0.251142    0        1  0.816794     0      0.8
4      1    0   0  0.245283  0.520548    0        1  0.702290     1      0.6
..   ...  ...  ..       ...       ...  ...      ...       ...   ...      ...
298    1    0   0  0.433962  0.262557    0        1  0.396947     1      0.2
299    1    1   3  0.150943  0.315068    0        1  0.465649     0      1.2
300    2    1   0  0.471698  0.152968    1        1  0.534351     0      3.4
301    1    1   0  0.339623  0.011416    0        1  0.335878     1      1.2
302    1    0   1  0.339623  0.251142    0        0  0.786260     0      0.0

     slp  caa  thall  output
0      0    0      1       1
1      0    0      2       1
2      2    0      2       1
3      2    0      2       1
4      2    0      2       1
..   ...  ...    ...     ...
298    1    0      3       0
299    1    0      3       0
300    1    2      3       0
301    1    1      3       0
302    1    1      2       0

[303 rows x 14 columns]

In [17]:
xSample = dataset.drop("output", axis=1)
ySample = dataset.output

print(xSample,ySample)

     age  sex  cp    trtbps      chol  fbs  restecg  thalachh  exng  oldpeak  \
0      2    1   3  0.481132  0.244292    1        0  0.603053     0      2.3
1      0    1   2  0.339623  0.283105    0        1  0.885496     0      3.5
2      1    0   1  0.339623  0.178082    0        0  0.770992     0      1.4
3      1    1   1  0.245283  0.251142    0        1  0.816794     0      0.8
4      1    0   0  0.245283  0.520548    0        1  0.702290     1      0.6
..   ...  ...  ..       ...       ...  ...      ...       ...   ...      ...
298    1    0   0  0.433962  0.262557    0        1  0.396947     1      0.2
299    1    1   3  0.150943  0.315068    0        1  0.465649     0      1.2
300    2    1   0  0.471698  0.152968    1        1  0.534351     0      3.4
301    1    1   0  0.339623  0.011416    0        1  0.335878     1      1.2
302    1    0   1  0.339623  0.251142    0        0  0.786260     0      0.0

     slp  caa  thall
0      0    0      1
1      0    0      2
2      2    0      2
3      2    0      2
4      2    0      2
..   ...  ...    ...
298    1    0      3
299    1    0      3
300    1    2      3
301    1    1      3
302    1    1      2

[303 rows x 13 columns] 0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: output, Length: 303, dtype: int64

In [18]:
ySample = pd.get_dummies(ySample) #dummies: One hot encoding yapar
ySample= ySample.astype(int) # False, True'dan 0,1e çevirir
ySample

     0  1
0    0  1
1    0  1
2    0  1
3    0  1
4    0  1
..  .. ..
298  1  0
299  1  0
300  1  0
301  1  0
302  1  0

[303 rows x 2 columns]

In [19]:
from sklearn.model_selection import train_test_split

#test_size: oran ya da sayıyla train ve testi ayırır.
#sonuçların tutarlı olması için random_state kullanılırız. Random seçme işlemini her döngü için aynı verilerle yapar. Sayının önemi yok
xTrain, xTest, yTrain, yTest = train_test_split(xSample,ySample,test_size=0.2,random_state=42) 

#random_state en fazla 2ye ayırabildiği için Validation için tekrar ikiye ayırdık.
xTrain, xValidation, yTrain, yValidation = train_test_split(xTrain,yTrain,test_size=0.25,random_state=42)
print(f"""
    xTrain: {xTrain.shape},
    xTest: {xTest.shape}, 
    xValidation: {xValidation.shape}
    
    yTrain: {yTrain.shape},
    yTest: {yTest.shape}, 
    yValidation: {yValidation.shape}""")

    xTrain: (181, 13),
    xTest: (61, 13),
    xValidation: (61, 13)

    yTrain: (181, 2),
    yTest: (61, 2),
    yValidation: (61, 2)

In [20]:
from sklearn. ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix,multilabel_confusion_matrix

model = RandomForestClassifier(random_state=21)
model.fit(xTrain,yTrain)

#yapay sinir ağlarında önce validation sonra teste ihtiyacımız varken bu gibi durumlarda sadece test yeterli(herhangi birini kullanabilirsin)
y_test_prediction = model.predict(xTest)

In [21]:
print(classification_report(yTest, y_test_prediction))

              precision    recall  f1-score   support

           0       0.86      0.83      0.84        29
           1       0.85      0.88      0.86        32

   micro avg       0.85      0.85      0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.85      0.85      0.85        61
 samples avg       0.85      0.85      0.85        61

In [22]:
print(multilabel_confusion_matrix(yTest, y_test_prediction)
)

[[[28  4]
  [ 5 24]]

 [[24  5]
  [ 4 28]]]